/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Section Sliders
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.SectionSlider {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.SectionSlider .container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.SectionSlider .container.left {
  flex-direction: row-reverse;
}

.SectionSlider .container .card {
  position: relative;
  display: flex;
  width: 100%;
  height: 300px;
  cursor: pointer;
  border-radius: var(--main-border-radius);
  overflow: hidden;
}

.SectionSlider .container .card .Movie-OverFlow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 0;
}
.SectionSlider .container .Movie-OverFlow h1 {
  position: relative;
  color: red;
  font-size: 20px;
  text-align: center;
  padding: 0 0 10px 0;
  border-bottom: 1px solid lightgray;
}
.SectionSlider .container .Movie-OverFlow p {
  position: relative;
  font-size: 14px;
  color: rgb(255, 196, 0);
  font-weight: 600;
}
.SectionSlider .container .Movie-OverFlow p span {
  position: relative;
  color: #fff;
  font-size: 12px;
}
.SectionSlider .container .card .Movie-OverFlow:hover {
  opacity: 1;
  z-index: 2;
}
.SectionSlider .container .card img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;
  z-index: -1;
}
.SectionSlider .progress {
  position: relative;
  min-width: 5px;
  max-width: 5px;
  height: 300px;
  background-color: #fff;
  border-radius: var(--main-border-radius);
  overflow: hidden;
  transition: var(--main-transition);
}
.SectionSlider .progress .propress-per {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  transition: var(--main-transition);
}
