/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("root.css");

::selection {
  color: var(--main-color);
  background: #dddddd58;
  overflow: hidden;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Scroll bar
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px #0bb3f550;
  backdrop-filter: blur(50px);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: red;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# input General
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
input:focus {
  outline: none;
}
input:focus::placeholder {
  opacity: 0;
  transition: var(--main-transition);
}
textarea:focus {
  outline: none;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General elements
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
ul {
  list-style: none;
}
a {
  color: var(--main-color);
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}
p {
  color: var(--main-p-color);
  line-height: 1.8;
  font-size: 1rem;
  color: #767676;
  font-weight: 400;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*Mobile Screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Tab Screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*PC Screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# General elements
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.main-titel {
  position: relative;
  color: #fff;
  font-size: 35px;
  writing-mode: vertical-lr;
  width: fit-content;
  padding: 150px 0 0 0;
}
.main-titel::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 150px;
  background-color: #fff;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
