/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# News
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.News {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# News box
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.News .container .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  width: 100%;
  gap: 15px;
  transition: var(--main-transition);
  background-size: cover;
  background-position: center center;
  border-radius: var(--main-border-radius);
  overflow: hidden;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# News box newsimg
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.News .container .box .newsimg img {
  position: relative;
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: var(--main-border-radius);
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# News box data
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.News .container .box .data {
  text-align: center;
}
